
        <%-include ('../partials/header')%>
        
        <div class="content">
          <h2>Ajouter un royaume</h2>

          <form method="POST">
            <div class="form-input">
              <label for="name">Nom : </label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Nom du royaume"
              />
            </div>
            <div class="form-input">
              <label for="description">Description : </label>
              <textarea
                name="description"
                id="description"
                placeholder="Description du royaume"
              ></textarea>
            </div>
            <div class="form-input">
              <label for="image">Image : </label>
              <input
                type="text"
                name="image"
                id="image"
                placeholder="Nom de l'image"
              />
            </div>
            <div class="form-input">
              <label for="continent">Continent : </label>
              <div class="radiogroup">
                <!-- à dynamiser-->
                
                <%for (const continent of continents){%>
                 
                <div class="radioitem">
                  <input type="radio" id="<%=continent.id%>" value="<%=continent.id%>"
                    name="continent_id" />
                  <label for="<%=continent.id%>"><%=continent.name%></label>
                </div>
            
<%}%>
               
             
              </div>
            </div>
            <button class="form-button">Valider</button>
          </form>
        </div>
     <%-include ('../partials/footer')%>