<%-include ('partials/header')%>

        <div class="content">
          <h2><%=kingdom.name%></h2>
          <div class="kingdom">
            <img
              class="image"
              src="../images/cartes/<%=kingdom.name.toLowerCase()%>.jpg"
              alt="Carte de <%=kingdom.name%>"
              class="carte"
            />
            <div class="text">
              <%=kingdom.description%>
            </div>
          </div>
          <div class="cards">
            <%for(const family of kingdom.families){%>
            <a href="/family/<%=family.id%>">
              <div class="small">
                <h3><%=family.name%></h3>
                <div class="text--small">
                  <%=family.description.slice(1, 69)%>...
                </div>
              </div>
            </a>
            <%}%>
          </div>
        </div>
    <%-include ('partials/footer')%>
